### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as ny

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

In [117]:
# Ceate Data Frame to View Data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [118]:
number_players = len(purchase_data_df["Purchase ID"].value_counts())
print(number_players)

780

In [119]:
number_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
unique_items = purchase_data_df["Item Name"].nunique()
#print(unique_items)
unique_items

179

In [121]:
average_price = round(purchase_data_df["Price"].mean(),2)
average_price

3.05

In [122]:
average_age = round(purchase_data_df["Age"].mean(),2)
average_age

22.71

In [123]:
number_of_purchases = purchase_data_df["Price"].count()
number_of_purchases

780

In [124]:
total_sales = purchase_data_df["Price"].sum()
total_sales

2379.77

In [125]:
print("Number of Unique Items: " + str(unique_items))
print("Average Purchase Price: $" + str(average_price))
print("Average Gamer Age: " + str(average_age))
print("Total Number of Purchases: " + str(number_of_purchases))
print("Total Sales: $" + str(total_sales))

Number of Unique Items: 179
Average Purchase Price: $3.05
Average Gamer Age: 22.71
Total Number of Purchases: 780
Total Sales: $2379.77

In [126]:
#Summary Data Frame To Hold The Results
summary_dataframe_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Purchase Price": [average_price],
                                     "Average Gamer Age": [average_age],
                                      "Total Number of Purchases": [number_of_purchases],
                                       "Total Sales": [total_sales],})
summary_dataframe_df.head()

,Number of Unique Items,Average Purchase Price,Average Gamer Age,Total Number of Purchases,Total Sales
0,179,3.05,22.71,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [127]:
gender_count = purchase_data_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [128]:
gender_percentage = (purchase_data_df["Gender"].value_counts("Male")).map("{:,.2%}".format) 
gender_percentage

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#purchase count by gender
purchase_count = purchase_data_df["Gender"].value_counts()
purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [130]:
#avg. purchase price by gender
average_price = purchase_data_df["Price"].mean()
average_price

3.050987179487176

In [131]:
#avg. purchase total per person
purchase_price = purchase_data_df["Price"].sum()
purchase_price

2379.77

In [132]:
#new data frame by gender
gender_analaysis_df = pd.DataFrame({"Average Purchase Price": average_price,"Total Purchase Price":purchase_price})

ValueError: If using all scalar values, you must pass an index

In [133]:
gender_price_df = purchase_data_df[["Price","Age", "Gender"]]
gender_price_df.head()

   Price  Age Gender
0   3.53   20   Male
1   1.56   40   Male
2   4.88   24   Male
3   3.27   24   Male
4   1.44   23   Male

In [134]:
gender_df = gender_price_df.groupby(["Gender"])
gender_count = gender_df.count()
gender_count

                       Price  Age
Gender
Female                   113  113
Male                     652  652
Other / Non-Disclosed     15   15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [135]:
#Establish bins for ages
bins = [0,9,14,19,24,29,34,39,100]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bins, labels=age_groups)
age_df = purchase_data_df.groupby(["Age Groups"])
print(age_df)
total_age = purchase_data_df["Age"].sum()
#Purchase Count
age_purchase = purchase_data_df["Age Groups"].value_counts()
#% of users
age_percentage =age_purchase / number_players
#Create the Age Demographic DataFrame
age_demographic = pd.DataFrame({"Total Count": age_purchase,
                                "Percentage of Players": age_percentage})
binned_age_demographic = age_demographic.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
binned_age_demographic["Percentage of Players"] = binned_age_demographic["Percentage of Players"].map("{:,.2%}".format) 

binned_age_demographic

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002857939E610>

       Total Count Percentage of Players
<10             23                 2.95%
10-14           28                 3.59%
15-19          136                17.44%
20-24          365                46.79%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
40+             13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [137]:
#bins = [0,9,14,19,24,29,34,39,100]
#age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_count = age_df["Total Count"].count()
avg_purchase_price = age_df["Price"].mean()
total_purchase_value = purchase_count()*avg_purchase_price()
#got lost

KeyError: 'Column not found: Total Count'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
grouped_sn = purchase_data_df.groupby(["SN"])
grouped_sn.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [139]:
total_price_sn = grouped_sn.sum()["Price"]
total_price_sn.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [140]:
average_price_sn = grouped_sn.mean()["Price"]
average_price_sn.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [141]:
count_sn = grouped_sn.count()["Price"]
count_sn

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [142]:
#Sumamry Data Frame Findings
summary_df = pd.DataFrame({ "Total Spent":total_price_sn, "Average Spent":average_price_sn, 
                            "Number of Purchases":count_sn})
summary_df

               Total Spent  Average Spent  Number of Purchases
SN
Adairialis76          2.28       2.280000                    1
Adastirin33           4.48       4.480000                    1
Aeda94                4.91       4.910000                    1
Aela59                4.32       4.320000                    1
Aelaria33             1.79       1.790000                    1
...                    ...            ...                  ...
Yathecal82            6.22       2.073333                    3
Yathedeu43            6.02       3.010000                    2
Yoishirrala98         4.58       4.580000                    1
Zhisrisu83            7.89       3.945000                    2
Zontibe81             8.03       2.676667                    3

[576 rows x 3 columns]

In [143]:
#Sort the total purchase value column in descending order
sorted_summary_df = summary_df.sort_values("Total Spent", ascending=False)
sorted_summary_df

             Total Spent  Average Spent  Number of Purchases
SN
Lisosia93          18.96       3.792000                    5
Idastidru52        15.45       3.862500                    4
Chamjask73         13.83       4.610000                    3
Iral74             13.62       3.405000                    4
Iskadarya95        13.10       4.366667                    3
...                  ...            ...                  ...
Ililsasya43         1.02       1.020000                    1
Irilis75            1.02       1.020000                    1
Aidai61             1.01       1.010000                    1
Chanirra79          1.01       1.010000                    1
Alo38               1.00       1.000000                    1

[576 rows x 3 columns]

In [144]:
#Optional: give the displayed data cleaner formatting
sorted_summary_df["Total Spent"] = sorted_summary_df["Total Spent"].map("${:,.2f}".format) 
sorted_summary_df["Average Spent"] = sorted_summary_df["Average Spent"].map("${:,.2f}".format)
sorted_summary_df

            Total Spent Average Spent  Number of Purchases
SN
Lisosia93        $18.96         $3.79                    5
Idastidru52      $15.45         $3.86                    4
Chamjask73       $13.83         $4.61                    3
Iral74           $13.62         $3.40                    4
Iskadarya95      $13.10         $4.37                    3
...                 ...           ...                  ...
Ililsasya43       $1.02         $1.02                    1
Irilis75          $1.02         $1.02                    1
Aidai61           $1.01         $1.01                    1
Chanirra79        $1.01         $1.01                    1
Alo38             $1.00         $1.00                    1

[576 rows x 3 columns]

In [145]:
#Display a preview of the summary data frame
sorted_summary_df.head(10)

             Total Spent Average Spent  Number of Purchases
SN
Lisosia93         $18.96         $3.79                    5
Idastidru52       $15.45         $3.86                    4
Chamjask73        $13.83         $4.61                    3
Iral74            $13.62         $3.40                    4
Iskadarya95       $13.10         $4.37                    3
Ilarin91          $12.70         $4.23                    3
Ialallo29         $11.84         $3.95                    3
Tyidaim51         $11.83         $3.94                    3
Lassilsala30      $11.51         $3.84                    3
Chadolyla44       $11.46         $3.82                    3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [146]:
#Retrieve the Item ID, Item Name, and Item Price columns
popular_df = purchase_data_df.set_index(["Item ID", "Item Name"])
popular_df

,,Purchase ID,SN,Age,Gender,Price,Age Groups
Item ID,Item Name,,,,,,
108,"Extraction, Quickblade Of Trembling Hands",0,Lisim78,20,Male,3.53,20-24
143,Frenzied Scimitar,1,Lisovynya38,40,Male,1.56,40+
92,Final Critic,2,Ithergue48,24,Male,4.88,20-24
100,Blindscythe,3,Chamassasya86,24,Male,3.27,20-24
131,Fury,4,Iskosia90,23,Male,1.44,20-24
...,...,...,...,...,...,...,...
60,Wolf,775,Aethedru70,21,Female,3.54,20-24
164,Exiled Doomblade,776,Iral74,21,Male,1.63,20-24
67,"Celeste, Incarnation of the Corrupted",777,Yathecal72,20,Male,3.46,20-24
92,Final Critic,778,Sisur91,7,Male,4.19,<10
50,Dawn,779,Ennrian78,24,Male,4.60,20-24

In [148]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
popular_df = purchase_data_df.set_index(["Item ID", "Item Name"])
popular_df = popular_df.groupby(level=["Item ID", "Item Name"])
purchase_count_id = popular_df.count()["Price"]
purchase_itemprice_id = popular_df.list()["Price"]
purchase_price_id = popular_df.sum()["Price"]

#Create a New Dataframe
most_popular_df = pd.DataFrame({ 
                                "Count":purchase_count_id,
                                 "Listed Price":purchase_itemprice_id,
                                "Total Purchase Price": purchase_price_id})
most_popular_df.head()

sorted_most_popular_df = most_popular_df.sort_values("Total Purchase Price", ascending=False)
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame

sorted_most_popular_df["Total Purchase Price"] = sorted_most_popular_df["Total Purchase Price"].map("${:,.2f}".format) 
sorted_most_popular_df = sorted_most_popular_df [["Count", "Listed Price", "Total Purchase Price"]]

sorted_most_popular_df.head(5)

AttributeError: 'DataFrameGroupBy' object has no attribute 'list'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame